{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"printWidth": 140,

	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2,
				"useTabs": false,
				"singleQuote": false
			}
		}
	]
}
