name: Assign PR

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write
  contents: read

jobs:
  assign:
    uses: Impaya/settings-and-wokflows/.github/workflows/auto-assign-pr.yml@main
    with:
      # Optional: additional assignees, separated by commas
      # additional_assignees: 'username1,username2'
      additional_assignees: ""
